@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v23/mem8YaGs126MiZpBA-UFW50bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #85dcb8;
  min-height: 100vh; 
  margin: 0 auto;
  font-size-adjust: inherit;
  
}
.page-header {
  overflow: hidden;
  padding: 20px 10px;
  padding-top: 5px;
  text-align: center;
  background: #41b3a3;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}
/*
.body {
  min-height: 100vh; 
  margin: 0 auto;
  font-size-adjust: inherit;
}*/

.about-me {
  /*float: left;*/
  display: flex;
  width: 50%;
  height: auto;
  margin: 0 auto; 

}

.about-container {
  padding: 40px 60px;
  margin:30px 30px 60px;
  background-color: #ff9900;
  border: 2px solid #41b3a3;
  border-radius: 25px;
}
/*
  display:flex;
  justify-content: space-between;
*/


.profile-img {
    margin: auto;
    /*display: flex;*/
    width: auto;
    max-width: 950px;
    height: calc(200px + 15vw);
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #41b3a3;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #41b3a3;
  border: 2px solid #41b3a3;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #41b3a3;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #41b3a3;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -75px;
}

.container.right .date {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #ff9900;
  border: 2px solid #024b29;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #024b29;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: #ff9900;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #024b29;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

@media (max-width: 767.98px) {
  .body {
  min-height: 100vh;
  max-width: 400px; 
  margin: 0 auto;
  font-size: 20px; 

  }
  
   
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent  transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }


  }
  .footer {
    display: flex;
    position: relative;
    height: 300px;
    width: 100%;
    background-color: #85dcb8
    
  }

  ul.social-media {
    display: flex;
    list-style: none;
    margin: auto;
    text-indent: 10px;
    opacity: 1;
    transition: all .25s;
    font-size: 2em;
  }
  p.copyright {
    color: #fff;
    font-size: 1em;
    position: absolute;
    width: 100%;
    line-height: 40px;
    text-align: center;
    bottom:0;
  }


